{% extends 'testapp/base.html' %}
{% block body_block %}

<div class="container" enctype="multipart/form-data">
    <h3>My Registered Events</h3>
    <div class="row justify-content-center">
        {% for registration in registrations %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ registration.event.image.url }}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">{{ registration.event.eventname }}</h5>
                    <p class="card-text">{{ registration.event.type_of_event }}</p>
                    <p class="card-text">{{ registration.event.location }}</p>
                    <p class="card-text">{{ registration.event.date }}</p>
                    <a href="{% url 'unregister_from_event' registration.event.id %}" class="btn btn-danger">Unregister</a>
                    
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}